@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Pirata+One&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  body {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://i.postimg.cc/y6SW-b123/BG-dg7.jpg") no-repeat center;
    background-size: cover;
    font-size: 2rem;
  }
  .content {
    width: 80%;
  }
  .dungeon {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    /* height: 45vh;
    background: url("./images/background/dungeonBackground2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
  }
  img {
    width: 100%;
  }
  .title {
    width: 80%;
  }
  h1 {
    font-family: "Pirata One", cursive;
    font-size: 17rem;
    text-align: center;
    letter-spacing: 0.5rem;
    color: rgba(255, 222, 32, 0.836);
    text-shadow: 1px 1px 1px #919191ec, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191,
      1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191,
      1px 18px 6px rgba(16, 16, 16, 0.4), 1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
  }
  .buttons {
    width: 100%;
    background-color: rgb(105, 106, 119);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .levelUp,
  .shop,
  .powerUp {
    font-family: "MedievalSharp";
    font-size: 2.5rem;
    background: url("https://image.shutterstock.com/image-illustration/dark-wood-backgroundcartoon-wooden-seamless-260nw-1490220233.jpg");
    background-size: cover;
    padding: 3rem;
    color: white;
    width: 20rem;
    margin: 2rem 2.5rem;
    border: none;
    outline: none;
  }
  .player {
    width: 25%;
    position: absolute;
    bottom: -10%;
    left: -17%;

    transition: all 3s linear;
  }
  .monster {
    width: 25%;
    position: absolute;
    bottom: -11%;
    right: -17%;

    transition: all 3s linear;
  }

  /* .dungeon:active > .barb {
    left: 34%;
  }
  .dungeon:active > .demon {
    right: 34%;
  } */
  .start-button {
    position: absolute;
    top: 40%;
    background-color: gold;
    width: 25rem;
    color: black;
    font-size: 5rem;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  .coin {
    width: 30%;
  }
  .chest {
    width: 30%;
  }

  .round-count {
    position: absolute;
    left: 10%;
    font-size: 2rem;
    color: white;
  }

  .health-bar-all {
    position: absolute;
    right: 3%;
  }
  .health-bar {
    position: relative;

    display: inline-block;

    margin: 6px 0;
  }

  .health-bar:before {
    content: "";

    z-index: -1;

    position: absolute;
    top: -6px;
    width: 16px;
    height: 28px;
  }

  .health-bar:after {
    content: "";

    z-index: -1;

    position: absolute;
    top: -6px;
    right: 0;
    width: 16px;
    height: 28px;
  }

  .health-bar-glass {
    display: inline-block;
    width: 200px;
    height: 16px;

    z-index: 10;

    border: 2px solid #000000;
    box-shadow: inset 0 0 0 2px #dbd75d;
  }

  .health-bar-fluid {
    width: 100%;
    height: 100%;
    background: #d34549;
    box-shadow: inset 0 3px 0 -1px #d3aa9a, inset 0 -4px 0 -2px #4d494d,
      inset 4px 0 0 -2px #4d494d, inset -4px 0 0 -2px #4d494d;
  }