@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html,
body {
  font-family: "Lobster", sans-serif;
  padding: 0;
  margin: 0;
}

#info li {
  display: inline;
  float: right;
  margin: 5px;
}

.banner {
  position: relative;
  top: 40px;
  width: 100%;
  height: 400px;
  color: rgb(97, 135, 216);
  background: url(./images/cooking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  width: 400px;
  position: absolute;
  left: 55%;
}

button {
  padding: 8px 20px 8px 20px;
  border: 1px solid rgb(128, 179, 128);
  background: none;
}

button:focus {
  outline: 0;
}

.buy-btn {
  font-family: "Lobster", sans-serif;
  color: rgb(97, 135, 216);
  padding: 8px 40px 8px 40px;
  margin-right: 8px;
}

.show-btn {
  font-family: "Lobster", sans-serif;
  color: rgb(128, 179, 128);
}

/* ====== Popular Dishes ====== */

.dishes {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.dish-poster {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  position: relative;
  top: 20px;
  left: 2%;
  width: 300px;
  height: 400px;
  margin-left: 150px;
  margin-bottom: 150px;
}

span .more {
  position: relative;
  left: 60%;
}

/* ======= Menu ======= */
.menu {
  display: flex;
  flex-wrap: wrap;
}

.chef {
  margin-top: 10%;
  width: 350px;
  height: 600px;
}

.chef-poster {
  position: relative;
  top: 5px;
  left: 4%;
}

.inner-content {
  width: 75%;
  position: absolute;
  left: 400px;
  top: 0%;
}
.inner-content-two {
  width: 75%;
  position: absolute;
  left: 720px;
  top: 0%;
}
.inner-content-three {
  width: 75%;
  position: absolute;
  left: 1050px;
  top: 0%;
}

.inner-content div {
  margin-bottom: 50px;
}
.inner-content-two div {
  margin-bottom: 50px;
}
.inner-content-three div {
  margin-bottom: 50px;
}

/* ====== Footer ====== */

footer {
  display: flex;
  width: 100%;
  height: 250px;
  color: rgb(97, 135, 216);
  background-color: rgb(128, 179, 128);
}

.info {
  margin: 20px 0px 0px 370px;
}

.contact {
  line-height: 0;
  margin: 35px 0px 35px 0px;
}

.icons {
  position: relative;
  right: 40px;
}

.icons li {
  margin-right: 5px;
  display: inline-block;
}
