/* ==== Opdracht 2 ==== */

/* h1 {
  color: rgb(255, 0, 0);
  position: fixed;
  top: 50px;
  right: 50px;
} */

/* ==== Opdracht 3 ==== */

/* h1 {
  color: rgb(255, 0, 0);
  position: relative;
  left: 20px;
  bottom: 30px;
} */

/* ==== Opdracht 4 ==== */

h1 {
  color: rgb(255, 0, 0);
  position: relative;
  left: 50px;
  top: 100px;
}
