button {
  width: 500px;
  height: 40px;
  background: rgb(71, 180, 144);
  position: relative;
  border: none;
}
button:before,
button:after {
  content: "";
  position: absolute;
  height: 83%;
  width: 10%;
}

button:before {
  border-left: 7px solid rgb(255, 94, 0);
  border-top: 7px solid rgb(255, 94, 0);
  top: 0;
  left: 0;
}

button:after {
  bottom: 0;
  right: 0;
  border-right: 7px solid rgb(255, 94, 0);
  border-bottom: 7px solid rgb(255, 94, 0);
}
button:focus {
  outline: 0;
}
