/* ======= Opdracht 1 ======= */

.flex-container-opdr1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(226, 236, 165);
}

.flex-container-opdr1 > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* ======= Opdracht 2 ======= */

.flex-container-opdr2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  background-color: rgb(226, 236, 165);
}

.flex-container-opdr2 > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* ======= Opdracht 3 ======= */

.flex-container-opdr3 {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(226, 236, 165);
}

.flex-container-opdr3 > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/* ====== Opdracht 4 ====== */

.flex-container-opdr4 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(226, 236, 165);
}

.flex-container-opdr4 > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.example-two {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: rgb(226, 236, 165);
}

.example-two > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.example-three {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: rgb(226, 236, 165);
}

.example-three > div {
  background-color: #b6e4a8;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
