body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif;
}

.container {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.title {
  font-weight: 300;
  margin: 25px 0 0 20px;
}

p {
  font-weight: 300;
  margin-left: 20px;
  margin-top: 0px;
  font-size: 15px;
  transition: color 0.5s;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 280px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: 0 0 1rem rgb(192, 214, 112);
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  color: white;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  color: red;
}

.card:not(:hover) {
  color: white;
}
