.container {
  margin-top: 100px;
  margin-left: 50px;
}

.one {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(25deg);
}

.two {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(55deg);
}

.three {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
}
