.flex-container {
  display: flex;
  width: 400px;
  height: 300px;
  flex-wrap: nowrap;
  align-items: center;
  background-color: rgb(250, 252, 174);
}

.flex-container > div {
  background-color: rgb(164, 138, 226);
  width: 20px;
  margin: 3px;
}

.one {
  height: 99%;
}
.two {
  height: 50%;
}
.three {
  height: 60%;
}
.four {
  height: 70%;
}
.five {
  height: 30%;
}
.six {
  height: 40%;
}
