.container {
  display: flex;
  flex-direction: row;
}

.outer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  left: 20%;
  margin-left: 100px;
}

.inner {
  width: 220px;
  height: 70px;
  position: relative;
  right: 23%;
  background-color: black;
  border-radius: 60px;
}

.border:before,
.border:after {
  content: "";
  position: absolute;
}

.border:before {
  border-left: 4px solid white;
  border-top: 4px solid white;
  top: 20px;
  left: 40px;
  border-radius: 50%;
}

.border:after {
  bottom: 20px;
  right: 40px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 50%;
}

.border p {
  text-align: center;
  color: white;
  position: relative;
  top: 5px;
  font-size: 48px;
}
